//-
//- ----- Developers info -----
//- Dev1 name: Anastasia Hamandritov
//- Dev1 ID: 321924433
//- Dev2 name: Shirel Bitan
//- Dev2 ID: 209322395

doctype html
html
  head
    title Cost Management App
  body
    h1 Cost Management App
    button(onclick="redirectTo('addcost')") Add Cost
    button(onclick="redirectTo('create-report')") Create Report
    button(onclick="redirectTo('about')") About

  script.
    function redirectTo(view) {
      window.location.href = '/' + view;
    }


