//-
//- ----- Developers info -----
//- Dev1 name: Anastasia Hamandritov
//- Dev1 ID: 321924433
//- Dev2 name: Shirel Bitan
//- Dev2 ID: 209322395


doctype html
html
  head
    title= title
  body
      h1= title
      p Welcome to #{title}
